@import url(http://fonts.googleapis.com/css?family=Lato:400,900);

body{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #555;
}

h1, h2, h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
}
h3{
    font-size: 1.5em;
}

a{
    color: #bc8f8f;
}
a:hover{
    color: #555;
    text-decoration: none;
}

img{
    width: 100%;
}

.details p{
    font-size: 1.3em;
}

.btn{
    border-radius: 0;
}

btn-sm{
    float: none !important;
    margin-left: 10px;
}

.btn-default{
    color: #7c4f4f;
    background: #efdada;
    border-color: #cfbaba;
}
.btn-default:hover, .btn-default:active{
    color: #7c4f4f;
    background: #cfbaba;
    border-color: #af9a9a;
}

.btn-danger{
    background: #bc8f8f;
    border-color: #9c6f6f;
}
.btn-danger:hover, .btn-danger:active{
    background: #9c6f6f;
    border-color: #7c4f4f;
}

.img{
    background-size: 150%;
    background-position: center;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}
.thumbnail:hover .img{
    opacity: 0.5;
    background-size: 200%;
}

.content{
    width: 100vw;
    max-width: 980px;
    margin: 0 auto;
    padding: 10px;
}

@media (max-width: 767px) {
    .row{
        margin: 0;
    }
}

/* Thumbnails */
.thumbnail{
    border: 0;
}
.thumbnail .buttons{
    background: rgba(255,255,255,0.7);
    margin: 0;
    padding: 10px;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.thumbnail h3{
    margin: 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}
.thumbnail:hover h3{
    color: #bc8f8f;
}
.thumbnail h3 small{
    font-size: 0.7em;
}

/* CreateOrEdit */
.form-group{
    margin-bottom: 30px;
}
.form-group {
}

/* Delete page*/
.deletebuttons{
    margin-top: 60px;
}

/* Forms*/
.form-control{
    border-radius: 0;
    box-shadow: 0;
    border: 2px solid #bc8f8f;
}

/* Details */
#map{
    height: 300px;
}

/* Navbar */
.navbar-default {
  background-color: #f7f7f7;
  border: 0;
  border-bottom: 2px solid #eeeeee ;
  border-radius: 0;
  font-weight: 900;
}
.navbar-default .navbar-brand {
  text-transform: uppercase;
  color: #555555;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #000000;
}
.navbar-default .navbar-text {
  color: #555555;
}
.navbar-default .navbar-nav > li > a {
  text-transform: uppercase;
  color: #555555;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #000000;
  background-color: #eeeeee;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: #eeeeee;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #000000;
  background-color: #eeeeee;
}
.navbar-default .navbar-toggle {
  border-color: #eeeeee;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #eeeeee;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #555555;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #555555;
}
.navbar-default .navbar-link {
  color: #555555;
}
.navbar-default .navbar-link:hover {
  color: #000000;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #555555;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #000000;
    background-color: #eeeeee;
  }
}